.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.container {
  display: flex;
  align-items: flex-start;
  height: calc(100vh - 30px);
  width: 100vw;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  height: 100%;
  overflow-y: auto;
}

.imageContainer {
  width: 90%;
  height: 100%;
}

/* Styles for viewport widths up to 600px (change this value to suit your needs) */
@media screen and (max-width: 1330px) {
  .container {
    flex-direction: column;
  }
  .buttonContainer {
    width: 100%;
    height: auto;
  }
  .imageContainer {
    width: 100%;
  }
}
